body{
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

}

.grid-layout{
    display: grid;
    gap: 10px;
    width: 100px;
    padding: 10px;
    max-width: 1000px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    text-align: center;
    justify-content: space-around;
    align-items: center;


}

.tile{
    padding: 20px;
    border-radius: 10px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    border: 2px solid black;
    transition: 0.5s ease-in;
    width: 100px;
    height: 100px; 
   
}

@media (min-width: 320px) and (max-width: 600px){
    .grid-layout{
        grid-template-columns: repeat(2,auto);
    }
}
